client/Service References/lab/SrvcApp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SrvcApp" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_Iadm_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://desktop-3rkcn07/lab/svlab.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://desktop-3rkcn07/lab/svlab.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://desktop-3rkcn07/lab/svlab.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SvApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iadm_GetLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogin" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_getTimeLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:getTimeLogin" />
  </wsdl:message>
  <wsdl:message name="Iadm_getTimeLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTimeLoginResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_getPraktikanPraktikum_InputMessage">
    <wsdl:part name="parameters" element="tns:getPraktikanPraktikum" />
  </wsdl:message>
  <wsdl:message name="Iadm_getPraktikanPraktikum_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPraktikanPraktikumResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_getProfilePraktikan_InputMessage">
    <wsdl:part name="parameters" element="tns:getProfilePraktikan" />
  </wsdl:message>
  <wsdl:message name="Iadm_getProfilePraktikan_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProfilePraktikanResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_AddPraktikan_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPraktikan" />
  </wsdl:message>
  <wsdl:message name="Iadm_AddPraktikan_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPraktikanResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_EditPraktikan_InputMessage">
    <wsdl:part name="parameters" element="tns:EditPraktikan" />
  </wsdl:message>
  <wsdl:message name="Iadm_EditPraktikan_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditPraktikanResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetJurusan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJurusan" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetJurusan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJurusanResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetAngkatan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAngkatan" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetAngkatan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAngkatanResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetPraktikan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPraktikan" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetPraktikan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPraktikanResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_InsertMultiplePraktikan_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMultiplePraktikan" />
  </wsdl:message>
  <wsdl:message name="Iadm_InsertMultiplePraktikan_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMultiplePraktikanResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_ViewJadwalUmum_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewJadwalUmum" />
  </wsdl:message>
  <wsdl:message name="Iadm_ViewJadwalUmum_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewJadwalUmumResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetMatKul_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatKul" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetMatKul_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatKulResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetKelas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKelas" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetKelas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKelasResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetShift_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShift" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetShift_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShiftResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_InsertJadwal_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertJadwal" />
  </wsdl:message>
  <wsdl:message name="Iadm_InsertJadwal_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertJadwalResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_DeleteJadwal_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJadwal" />
  </wsdl:message>
  <wsdl:message name="Iadm_DeleteJadwal_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJadwalResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_getStaffID_InputMessage">
    <wsdl:part name="parameters" element="tns:getStaffID" />
  </wsdl:message>
  <wsdl:message name="Iadm_getStaffID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStaffIDResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_getProfileStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:getProfileStaff" />
  </wsdl:message>
  <wsdl:message name="Iadm_getProfileStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProfileStaffResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetStaffJadwal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffJadwal" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetStaffJadwal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffJadwalResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_jadwalUmumStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:jadwalUmumStaff" />
  </wsdl:message>
  <wsdl:message name="Iadm_jadwalUmumStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:jadwalUmumStaffResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_updateJadwalStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:updateJadwalStaff" />
  </wsdl:message>
  <wsdl:message name="Iadm_updateJadwalStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateJadwalStaffResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_addPeriode_InputMessage">
    <wsdl:part name="parameters" element="tns:addPeriode" />
  </wsdl:message>
  <wsdl:message name="Iadm_addPeriode_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPeriodeResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_viewPeriode_InputMessage">
    <wsdl:part name="parameters" element="tns:viewPeriode" />
  </wsdl:message>
  <wsdl:message name="Iadm_viewPeriode_OutputMessage">
    <wsdl:part name="parameters" element="tns:viewPeriodeResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetPertemuan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPertemuan" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetPertemuan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPertemuanResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_ListPertemuan_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPertemuan" />
  </wsdl:message>
  <wsdl:message name="Iadm_ListPertemuan_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPertemuanResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_PostAbsenPraktikan_InputMessage">
    <wsdl:part name="parameters" element="tns:PostAbsenPraktikan" />
  </wsdl:message>
  <wsdl:message name="Iadm_PostAbsenPraktikan_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostAbsenPraktikanResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetAbsensiPraktikans_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAbsensiPraktikans" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetAbsensiPraktikans_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAbsensiPraktikansResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_AddStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStaff" />
  </wsdl:message>
  <wsdl:message name="Iadm_AddStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStaffResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_EditStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:EditStaff" />
  </wsdl:message>
  <wsdl:message name="Iadm_EditStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditStaffResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_KonfirmasiAbsensi_InputMessage">
    <wsdl:part name="parameters" element="tns:KonfirmasiAbsensi" />
  </wsdl:message>
  <wsdl:message name="Iadm_KonfirmasiAbsensi_OutputMessage">
    <wsdl:part name="parameters" element="tns:KonfirmasiAbsensiResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_HapusAbsensi_InputMessage">
    <wsdl:part name="parameters" element="tns:HapusAbsensi" />
  </wsdl:message>
  <wsdl:message name="Iadm_HapusAbsensi_OutputMessage">
    <wsdl:part name="parameters" element="tns:HapusAbsensiResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetJadwalPraktikan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJadwalPraktikan" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetJadwalPraktikan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJadwalPraktikanResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetJadwalAsisten_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJadwalAsisten" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetJadwalAsisten_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJadwalAsistenResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_AddJadwalPraktikan_InputMessage">
    <wsdl:part name="parameters" element="tns:AddJadwalPraktikan" />
  </wsdl:message>
  <wsdl:message name="Iadm_AddJadwalPraktikan_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddJadwalPraktikanResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_AddJadwalStaffAsisten_InputMessage">
    <wsdl:part name="parameters" element="tns:AddJadwalStaffAsisten" />
  </wsdl:message>
  <wsdl:message name="Iadm_AddJadwalStaffAsisten_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddJadwalStaffAsistenResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_DeleteJadwalPraktikan_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJadwalPraktikan" />
  </wsdl:message>
  <wsdl:message name="Iadm_DeleteJadwalPraktikan_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJadwalPraktikanResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_TambahAngaktan_InputMessage">
    <wsdl:part name="parameters" element="tns:TambahAngaktan" />
  </wsdl:message>
  <wsdl:message name="Iadm_TambahAngaktan_OutputMessage">
    <wsdl:part name="parameters" element="tns:TambahAngaktanResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetModul_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModul" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetModul_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModulResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetListModul_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListModul" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetListModul_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListModulResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_UploadModul_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadModul" />
  </wsdl:message>
  <wsdl:message name="Iadm_UploadModul_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadModulResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetIDAbsensiPraktikan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIDAbsensiPraktikan" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetIDAbsensiPraktikan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIDAbsensiPraktikanResponse" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetUpLoadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpLoadFile" />
  </wsdl:message>
  <wsdl:message name="Iadm_GetUpLoadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpLoadFileResponse" />
  </wsdl:message>
  <wsdl:portType name="Iadm">
    <wsdl:operation name="GetLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/GetLogin" message="tns:Iadm_GetLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/GetLoginResponse" message="tns:Iadm_GetLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTimeLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/getTimeLogin" message="tns:Iadm_getTimeLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/getTimeLoginResponse" message="tns:Iadm_getTimeLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPraktikanPraktikum">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/getPraktikanPraktikum" message="tns:Iadm_getPraktikanPraktikum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/getPraktikanPraktikumResponse" message="tns:Iadm_getPraktikanPraktikum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProfilePraktikan">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/getProfilePraktikan" message="tns:Iadm_getProfilePraktikan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/getProfilePraktikanResponse" message="tns:Iadm_getProfilePraktikan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPraktikan">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/AddPraktikan" message="tns:Iadm_AddPraktikan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/AddPraktikanResponse" message="tns:Iadm_AddPraktikan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditPraktikan">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/EditPraktikan" message="tns:Iadm_EditPraktikan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/EditPraktikanResponse" message="tns:Iadm_EditPraktikan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJurusan">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/GetJurusan" message="tns:Iadm_GetJurusan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/GetJurusanResponse" message="tns:Iadm_GetJurusan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAngkatan">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/GetAngkatan" message="tns:Iadm_GetAngkatan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/GetAngkatanResponse" message="tns:Iadm_GetAngkatan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPraktikan">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/GetPraktikan" message="tns:Iadm_GetPraktikan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/GetPraktikanResponse" message="tns:Iadm_GetPraktikan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMultiplePraktikan">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/InsertMultiplePraktikan" message="tns:Iadm_InsertMultiplePraktikan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/InsertMultiplePraktikanResponse" message="tns:Iadm_InsertMultiplePraktikan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewJadwalUmum">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/ViewJadwalUmum" message="tns:Iadm_ViewJadwalUmum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/ViewJadwalUmumResponse" message="tns:Iadm_ViewJadwalUmum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatKul">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/GetMatKul" message="tns:Iadm_GetMatKul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/GetMatKulResponse" message="tns:Iadm_GetMatKul_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKelas">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/GetKelas" message="tns:Iadm_GetKelas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/GetKelasResponse" message="tns:Iadm_GetKelas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShift">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/GetShift" message="tns:Iadm_GetShift_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/GetShiftResponse" message="tns:Iadm_GetShift_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertJadwal">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/InsertJadwal" message="tns:Iadm_InsertJadwal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/InsertJadwalResponse" message="tns:Iadm_InsertJadwal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteJadwal">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/DeleteJadwal" message="tns:Iadm_DeleteJadwal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/DeleteJadwalResponse" message="tns:Iadm_DeleteJadwal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStaffID">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/getStaffID" message="tns:Iadm_getStaffID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/getStaffIDResponse" message="tns:Iadm_getStaffID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProfileStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/getProfileStaff" message="tns:Iadm_getProfileStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/getProfileStaffResponse" message="tns:Iadm_getProfileStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStaffJadwal">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/GetStaffJadwal" message="tns:Iadm_GetStaffJadwal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/GetStaffJadwalResponse" message="tns:Iadm_GetStaffJadwal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="jadwalUmumStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/jadwalUmumStaff" message="tns:Iadm_jadwalUmumStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/jadwalUmumStaffResponse" message="tns:Iadm_jadwalUmumStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateJadwalStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/updateJadwalStaff" message="tns:Iadm_updateJadwalStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/updateJadwalStaffResponse" message="tns:Iadm_updateJadwalStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPeriode">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/addPeriode" message="tns:Iadm_addPeriode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/addPeriodeResponse" message="tns:Iadm_addPeriode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="viewPeriode">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/viewPeriode" message="tns:Iadm_viewPeriode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/viewPeriodeResponse" message="tns:Iadm_viewPeriode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPertemuan">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/GetPertemuan" message="tns:Iadm_GetPertemuan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/GetPertemuanResponse" message="tns:Iadm_GetPertemuan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListPertemuan">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/ListPertemuan" message="tns:Iadm_ListPertemuan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/ListPertemuanResponse" message="tns:Iadm_ListPertemuan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostAbsenPraktikan">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/PostAbsenPraktikan" message="tns:Iadm_PostAbsenPraktikan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/PostAbsenPraktikanResponse" message="tns:Iadm_PostAbsenPraktikan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAbsensiPraktikans">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/GetAbsensiPraktikans" message="tns:Iadm_GetAbsensiPraktikans_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/GetAbsensiPraktikansResponse" message="tns:Iadm_GetAbsensiPraktikans_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/AddStaff" message="tns:Iadm_AddStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/AddStaffResponse" message="tns:Iadm_AddStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/EditStaff" message="tns:Iadm_EditStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/EditStaffResponse" message="tns:Iadm_EditStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KonfirmasiAbsensi">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/KonfirmasiAbsensi" message="tns:Iadm_KonfirmasiAbsensi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/KonfirmasiAbsensiResponse" message="tns:Iadm_KonfirmasiAbsensi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HapusAbsensi">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/HapusAbsensi" message="tns:Iadm_HapusAbsensi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/HapusAbsensiResponse" message="tns:Iadm_HapusAbsensi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJadwalPraktikan">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/GetJadwalPraktikan" message="tns:Iadm_GetJadwalPraktikan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/GetJadwalPraktikanResponse" message="tns:Iadm_GetJadwalPraktikan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJadwalAsisten">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/GetJadwalAsisten" message="tns:Iadm_GetJadwalAsisten_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/GetJadwalAsistenResponse" message="tns:Iadm_GetJadwalAsisten_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddJadwalPraktikan">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/AddJadwalPraktikan" message="tns:Iadm_AddJadwalPraktikan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/AddJadwalPraktikanResponse" message="tns:Iadm_AddJadwalPraktikan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddJadwalStaffAsisten">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/AddJadwalStaffAsisten" message="tns:Iadm_AddJadwalStaffAsisten_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/AddJadwalStaffAsistenResponse" message="tns:Iadm_AddJadwalStaffAsisten_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteJadwalPraktikan">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/DeleteJadwalPraktikan" message="tns:Iadm_DeleteJadwalPraktikan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/DeleteJadwalPraktikanResponse" message="tns:Iadm_DeleteJadwalPraktikan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TambahAngaktan">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/TambahAngaktan" message="tns:Iadm_TambahAngaktan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/TambahAngaktanResponse" message="tns:Iadm_TambahAngaktan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModul">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/GetModul" message="tns:Iadm_GetModul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/GetModulResponse" message="tns:Iadm_GetModul_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListModul">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/GetListModul" message="tns:Iadm_GetListModul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/GetListModulResponse" message="tns:Iadm_GetListModul_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadModul">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/UploadModul" message="tns:Iadm_UploadModul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/UploadModulResponse" message="tns:Iadm_UploadModul_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIDAbsensiPraktikan">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/GetIDAbsensiPraktikan" message="tns:Iadm_GetIDAbsensiPraktikan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/GetIDAbsensiPraktikanResponse" message="tns:Iadm_GetIDAbsensiPraktikan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpLoadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadm/GetUpLoadFile" message="tns:Iadm_GetUpLoadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadm/GetUpLoadFileResponse" message="tns:Iadm_GetUpLoadFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_Iadm" type="tns:Iadm">
    <wsp:PolicyReference URI="#WSHttpBinding_Iadm_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLogin">
      <soap12:operation soapAction="http://tempuri.org/Iadm/GetLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTimeLogin">
      <soap12:operation soapAction="http://tempuri.org/Iadm/getTimeLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPraktikanPraktikum">
      <soap12:operation soapAction="http://tempuri.org/Iadm/getPraktikanPraktikum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfilePraktikan">
      <soap12:operation soapAction="http://tempuri.org/Iadm/getProfilePraktikan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPraktikan">
      <soap12:operation soapAction="http://tempuri.org/Iadm/AddPraktikan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPraktikan">
      <soap12:operation soapAction="http://tempuri.org/Iadm/EditPraktikan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJurusan">
      <soap12:operation soapAction="http://tempuri.org/Iadm/GetJurusan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAngkatan">
      <soap12:operation soapAction="http://tempuri.org/Iadm/GetAngkatan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPraktikan">
      <soap12:operation soapAction="http://tempuri.org/Iadm/GetPraktikan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMultiplePraktikan">
      <soap12:operation soapAction="http://tempuri.org/Iadm/InsertMultiplePraktikan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewJadwalUmum">
      <soap12:operation soapAction="http://tempuri.org/Iadm/ViewJadwalUmum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatKul">
      <soap12:operation soapAction="http://tempuri.org/Iadm/GetMatKul" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKelas">
      <soap12:operation soapAction="http://tempuri.org/Iadm/GetKelas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShift">
      <soap12:operation soapAction="http://tempuri.org/Iadm/GetShift" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertJadwal">
      <soap12:operation soapAction="http://tempuri.org/Iadm/InsertJadwal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteJadwal">
      <soap12:operation soapAction="http://tempuri.org/Iadm/DeleteJadwal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStaffID">
      <soap12:operation soapAction="http://tempuri.org/Iadm/getStaffID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfileStaff">
      <soap12:operation soapAction="http://tempuri.org/Iadm/getProfileStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStaffJadwal">
      <soap12:operation soapAction="http://tempuri.org/Iadm/GetStaffJadwal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jadwalUmumStaff">
      <soap12:operation soapAction="http://tempuri.org/Iadm/jadwalUmumStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateJadwalStaff">
      <soap12:operation soapAction="http://tempuri.org/Iadm/updateJadwalStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPeriode">
      <soap12:operation soapAction="http://tempuri.org/Iadm/addPeriode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="viewPeriode">
      <soap12:operation soapAction="http://tempuri.org/Iadm/viewPeriode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPertemuan">
      <soap12:operation soapAction="http://tempuri.org/Iadm/GetPertemuan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPertemuan">
      <soap12:operation soapAction="http://tempuri.org/Iadm/ListPertemuan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostAbsenPraktikan">
      <soap12:operation soapAction="http://tempuri.org/Iadm/PostAbsenPraktikan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAbsensiPraktikans">
      <soap12:operation soapAction="http://tempuri.org/Iadm/GetAbsensiPraktikans" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStaff">
      <soap12:operation soapAction="http://tempuri.org/Iadm/AddStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditStaff">
      <soap12:operation soapAction="http://tempuri.org/Iadm/EditStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KonfirmasiAbsensi">
      <soap12:operation soapAction="http://tempuri.org/Iadm/KonfirmasiAbsensi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HapusAbsensi">
      <soap12:operation soapAction="http://tempuri.org/Iadm/HapusAbsensi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJadwalPraktikan">
      <soap12:operation soapAction="http://tempuri.org/Iadm/GetJadwalPraktikan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJadwalAsisten">
      <soap12:operation soapAction="http://tempuri.org/Iadm/GetJadwalAsisten" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJadwalPraktikan">
      <soap12:operation soapAction="http://tempuri.org/Iadm/AddJadwalPraktikan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJadwalStaffAsisten">
      <soap12:operation soapAction="http://tempuri.org/Iadm/AddJadwalStaffAsisten" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteJadwalPraktikan">
      <soap12:operation soapAction="http://tempuri.org/Iadm/DeleteJadwalPraktikan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TambahAngaktan">
      <soap12:operation soapAction="http://tempuri.org/Iadm/TambahAngaktan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModul">
      <soap12:operation soapAction="http://tempuri.org/Iadm/GetModul" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListModul">
      <soap12:operation soapAction="http://tempuri.org/Iadm/GetListModul" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadModul">
      <soap12:operation soapAction="http://tempuri.org/Iadm/UploadModul" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIDAbsensiPraktikan">
      <soap12:operation soapAction="http://tempuri.org/Iadm/GetIDAbsensiPraktikan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpLoadFile">
      <soap12:operation soapAction="http://tempuri.org/Iadm/GetUpLoadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvcApp">
    <wsdl:port name="WSHttpBinding_Iadm" binding="tns:WSHttpBinding_Iadm">
      <soap12:address location="http://localhost/lab/svlab.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/lab/svlab.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>