client/Service References/lab/svlab.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://desktop-3rkcn07/lab/svlab.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SvApp" />
  <xs:element name="GetLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q1:akun" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTimeLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q2:jadwalPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTimeLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="getTimeLoginResult" nillable="true" type="q3:ArrayOfjadwalPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPraktikanPraktikum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nrp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shift" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="periode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPraktikanPraktikumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="getPraktikanPraktikumResult" nillable="true" type="q4:ArrayOfjadwalPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProfilePraktikan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q5:praktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProfilePraktikanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="getProfilePraktikanResult" nillable="true" type="q6:praktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJurusan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJurusanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetJurusanResult" nillable="true" type="q7:ArrayOfjurusan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAngkatan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAngkatanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetAngkatanResult" nillable="true" type="q8:ArrayOfangkatan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPraktikan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q9:praktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPraktikanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetPraktikanResult" nillable="true" type="q10:ArrayOfpraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMultiplePraktikan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q11:ArrayOfpraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMultiplePraktikanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMultiplePraktikanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewJadwalUmum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q12:jadwal_umum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewJadwalUmumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="ViewJadwalUmumResult" nillable="true" type="q13:ArrayOfjadwal_umum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatKul">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatKulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetMatKulResult" nillable="true" type="q14:ArrayOfmatkul" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKelas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKelasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetKelasResult" nillable="true" type="q15:ArrayOfkelas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShift">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetShiftResult" nillable="true" type="q16:ArrayOfShift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertJadwal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q17:ArrayOfjadwal_umum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertJadwalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertJadwalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJadwal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q18:jadwal_umum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJadwalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteJadwalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStaffID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStaffIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="getStaffIDResult" nillable="true" type="q19:ArrayOfStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProfileStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q20:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProfileStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="getProfileStaffResult" nillable="true" type="q21:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffJadwal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q22:jadwalStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffJadwalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetStaffJadwalResult" nillable="true" type="q23:ArrayOfjadwalStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jadwalUmumStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q24:periode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jadwalUmumStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="jadwalUmumStaffResult" nillable="true" type="q25:ArrayOfjadwalStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateJadwalStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q26:jadwalStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateJadwalStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateJadwalStaffResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPeriode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q27:periode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPeriodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPeriodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewPeriode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="viewPeriodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="viewPeriodeResult" nillable="true" type="q28:ArrayOfperiode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPertemuan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q29:jadwalPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPertemuanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetPertemuanResult" nillable="true" type="q30:ArrayOfpertemuan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPertemuan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPertemuanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="ListPertemuanResult" nillable="true" type="q31:ArrayOfpertemuan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostAbsenPraktikan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q32:AbsensiPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostAbsenPraktikanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostAbsenPraktikanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbsensiPraktikans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q33:AbsensiPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbsensiPraktikansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetAbsensiPraktikansResult" nillable="true" type="q34:ArrayOfpraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>