client/Service References/lab/svlab1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://desktop-q65mmh5/lab/svlab.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SvApp" />
  <xs:element name="GetLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q1:akun" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTimeLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q2:jadwalPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTimeLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="getTimeLoginResult" nillable="true" type="q3:ArrayOfjadwalPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPraktikanPraktikum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nrp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shift" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="periode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPraktikanPraktikumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="getPraktikanPraktikumResult" nillable="true" type="q4:ArrayOfjadwalPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProfilePraktikan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q5:praktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProfilePraktikanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="getProfilePraktikanResult" nillable="true" type="q6:praktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPraktikan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q7:praktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPraktikanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPraktikanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPraktikan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nrp" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q8:praktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPraktikanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditPraktikanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJurusan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJurusanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetJurusanResult" nillable="true" type="q9:ArrayOfjurusan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAngkatan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAngkatanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetAngkatanResult" nillable="true" type="q10:ArrayOfangkatan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPraktikan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q11:praktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPraktikanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetPraktikanResult" nillable="true" type="q12:ArrayOfpraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMultiplePraktikan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q13:ArrayOfpraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMultiplePraktikanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMultiplePraktikanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewJadwalUmum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q14:jadwal_umum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewJadwalUmumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="ViewJadwalUmumResult" nillable="true" type="q15:ArrayOfjadwal_umum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatKul">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatKulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetMatKulResult" nillable="true" type="q16:ArrayOfmatkul" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKelas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKelasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetKelasResult" nillable="true" type="q17:ArrayOfkelas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShift">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetShiftResult" nillable="true" type="q18:ArrayOfShift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertJadwal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q19:ArrayOfjadwal_umum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertJadwalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertJadwalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJadwal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q20:jadwal_umum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJadwalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteJadwalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStaffID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStaffIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="getStaffIDResult" nillable="true" type="q21:ArrayOfStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProfileStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q22:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProfileStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="getProfileStaffResult" nillable="true" type="q23:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffJadwal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q24:jadwalStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffJadwalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetStaffJadwalResult" nillable="true" type="q25:ArrayOfjadwalStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jadwalUmumStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q26:periode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jadwalUmumStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="jadwalUmumStaffResult" nillable="true" type="q27:ArrayOfjadwalStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateJadwalStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q28:jadwalStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateJadwalStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateJadwalStaffResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPeriode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q29:periode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPeriodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPeriodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewPeriode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="viewPeriodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="viewPeriodeResult" nillable="true" type="q30:ArrayOfperiode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPertemuan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q31:jadwalPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPertemuanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetPertemuanResult" nillable="true" type="q32:ArrayOfpertemuan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPertemuan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPertemuanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="ListPertemuanResult" nillable="true" type="q33:ArrayOfpertemuan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostAbsenPraktikan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q34:AbsensiPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostAbsenPraktikanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostAbsenPraktikanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbsensiPraktikans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q35:AbsensiPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbsensiPraktikansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetAbsensiPraktikansResult" nillable="true" type="q36:ArrayOfpraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q37:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStaffResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_staff" nillable="true" type="xs:string" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q38:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditStaffResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KonfirmasiAbsensi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q39:AbsensiPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KonfirmasiAbsensiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KonfirmasiAbsensiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HapusAbsensi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q40:AbsensiPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HapusAbsensiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HapusAbsensiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJadwalPraktikan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q41:jadwalPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJadwalPraktikanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetJadwalPraktikanResult" nillable="true" type="q42:ArrayOfjadwalPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJadwalAsisten">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q43:jadwalStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJadwalAsistenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetJadwalAsistenResult" nillable="true" type="q44:ArrayOfjadwalStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJadwalPraktikan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q45:ArrayOfjadwalPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJadwalPraktikanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddJadwalPraktikanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJadwalStaffAsisten">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q46:ArrayOfjadwalStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJadwalStaffAsistenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddJadwalStaffAsistenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJadwalPraktikan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q47:jadwalPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJadwalPraktikanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteJadwalPraktikanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahAngaktan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q48:angkatan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahAngaktanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TambahAngaktanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModul">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q49:modul" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetModulResult" nillable="true" type="q50:modul" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListModul">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q51:modul" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListModulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetListModulResult" nillable="true" type="q52:ArrayOfmodul" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadModul">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q53:modul" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadModulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadModulResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIDAbsensiPraktikan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q54:AbsensiPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIDAbsensiPraktikanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIDAbsensiPraktikanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpLoadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q55:upload_file" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpLoadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUpLoadFileResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nilai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q56:jadwal_umum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NilaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="NilaiResult" nillable="true" type="q57:ArrayOfAbsensiPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPraktikanPraktikum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q58:jadwal_umum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPraktikanPraktikumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="ListPraktikanPraktikumResult" nillable="true" type="q59:ArrayOfpraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileUjian">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q60:jadwalPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileUjianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="GetFileUjianResult" nillable="true" type="q61:ArrayOfupload_file" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InputMatkul">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q62:matkul" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InputMatkulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InputMatkulResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InputKelas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q63:kelas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InputKelasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InputKelasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HapusPraktikan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q64:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HapusPraktikanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HapusPraktikanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HapusPJadwalAsisten">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q65:jadwalStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HapusPJadwalAsistenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HapusPJadwalAsistenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HapusAngkatan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q66:angkatan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HapusAngkatanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HapusAngkatanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HapusMataKuliah">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q67:matkul" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HapusMataKuliahResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HapusMataKuliahResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HapusKelas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q68:kelas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HapusKelasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HapusKelasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServerTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jumPraktikum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q69:modul" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jumPraktikumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jumPraktikumResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ambilNilaiPraktikan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="data" nillable="true" type="q70:AbsensiPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ambilNilaiPraktikanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/SvApp" minOccurs="0" name="ambilNilaiPraktikanResult" nillable="true" type="q71:ArrayOfAbsensiPraktikan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>