DXApplication1/client/Service References/lab/svlab2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SvApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SvApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="akun">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeranId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="akun" nillable="true" type="tns:akun" />
  <xs:complexType name="ArrayOfjurusan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="jurusan" nillable="true" type="tns:jurusan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfjurusan" nillable="true" type="tns:ArrayOfjurusan" />
  <xs:complexType name="jurusan">
    <xs:sequence>
      <xs:element minOccurs="0" name="KodeJurusan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NamaJurusan" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="jurusan" nillable="true" type="tns:jurusan" />
  <xs:complexType name="ArrayOfangkatan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="angkatan" nillable="true" type="tns:angkatan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfangkatan" nillable="true" type="tns:ArrayOfangkatan" />
  <xs:complexType name="angkatan">
    <xs:sequence>
      <xs:element minOccurs="0" name="KodeAngkatan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TahunAngkatan" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="angkatan" nillable="true" type="tns:angkatan" />
  <xs:complexType name="praktikan">
    <xs:sequence>
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="KodeAngkatan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KodeJurusan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nama" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="praktikan" nillable="true" type="tns:praktikan" />
  <xs:complexType name="ArrayOfpraktikan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="praktikan" nillable="true" type="tns:praktikan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpraktikan" nillable="true" type="tns:ArrayOfpraktikan" />
</xs:schema>